/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: rgba(123, 148, 220, 0.85);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgba(123, 148, 220, 1);
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: rgba(123, 148, 220, 1)  ;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgba(123, 148, 220, 1);
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

.recipe-image {
    border-radius: 7%;
    height: auto;
    width: 300px;
}


.recipe-h3 {
    margin-bottom: 30px;
}

.btn-blue {
    background: rgba(123, 148, 220, 0.75) !important;
    color: #fff;
}

.btn-blue:hover {
    border: 1px solid rgba(123, 148, 220, 0.75);
    transition: 0.2s;
    background: #fff !important;
    color: rgba(123, 148, 220, 0.75);
}

.recipe-btn {
    width: 272.4px;
}

.padding-zero {
    padding: 0;
}

.profile-banner {
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    height: 375px;
    background-size:100% 100%;
}



.profile-banner h3 {
    text-align: center;
    color: rgba(0,0,0,.7);
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    background: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.recipe-ul-styling {
    padding-left: 15px;
}

.recipe-container {
    margin-top: 50px;
}

.recipe-container .recipe-image {
    border-radius: 5%;
    height: auto;
    width: 100%;
}

.profile-content {
    margin-top: 30px;
    height: 400px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.profile-picture {
    height: 300px;
    margin: auto;
    text-align: center;
    display: flex;
}

.profile-picture img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
    max-height: 200px;
    margin: auto;
}

textarea {
    border-radius: 5px;
    border-color: #999 im !important;
    padding-left: 5px;
    width: 100%;
    min-height: 120px;
    resize: none;
}

.create-recipe-recipe-name {
    border-radius: 5px;
    width: 32%;
    height: 50px;
    border-color: #999 im !important;
    padding-left: 15px;
  }

  

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}